*.DS_Store
KarhooSDK.xcodeproj/xcuserdata/
KarhooSDK.xcodeproj/project.xcworkspace/xcuserdata
KarhooSDK.xcworkspace/xcuserdata/
KarhooSDK.framework
KarhooSDK.framework/
build/
IDEWorkspaceChecks.plist
WorkspaceSettings.xcsettings

# dependency managers
Carthage/
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# access keys
Client/Keys.swift
